h1 {font-size: 90; margin-top: 0; margin-bottom: 10; padding-top: 30; font-weight: 0; text-align: left; text-shadow:0 5px 10px #615A5A;}


body{
	background: #C0C0C0;
	font-family: 'Sanchez', serif;
	font-size: 75px;


	
}
a{	
	color: grey;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

li{
	list-style: none;
}

.topBanner {
	width: 300px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
.topBanner a {
	width: 100px;
	height: 40px;
	margin: 10 25px 10 25px;
	display: inline-block;
	float: left;
	text-align: center;
	background: #ededed;
	padding-top: 15px;
}
.topBanner a:hover{
	background: #fff;
}
.contentWrapper
{
	text-align: center;
}

.contentWrapper ul{
	padding: 0;

}

.contentWrapper img{
	max-width: 500px;

}