<html>
	<head>
		<title>j blog</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css"
	</head>
	<body>
		<h1>j blog: sweatin in an ironyard</h1>
			<a link rel="stylesheet" type="text/css" href=css/styles.css"

	</body>




</html>