= link_to "Hospitals", hospitals_path

/%h1 St. John's Hospital
/= link_to "New Patient", new_patient_path
/%br/
/- @patients.each do |patient|
/  = patient.firstName
/  = patient.lastName
/  = patient.dob
/  = patient.ailment
/  = patient.gender
/  = patient.workflow_state
/  = link_to patient.firstName, patient_path(patient)
/  = link_to "Edit", edit_patient_path(patient)
/  = link_to "Delete", patient_path(patient), method: :delete
  
/  %br/
