<h2><center>beer</h2>
	<br>
	<br>
	<body>Beer comes multiple varieties for multiple preferences. A few of my favorites are.
						<br>
						<br>
						<br>
						<br>
						<center><img src="newcastle.jpeg"><center>
						<br>
						<br>
						<center><img src="highland.jpg"><center>
						<br>
						<br>
						<center><img src="workingman.jpg"><center>