<html>

<head>
<title>Craft</title>
</head>

<body>
	<br>
	<br>
	<h1><center>Craft: exploring the world of craft beer and liquor<center></h1>
	<br>
	<center><img src="img/cover.jpg"></center>
	<br>
	<br>
	<br>
	<p> Craft spirits are a trend that is currently taking over most of the country. This is a site dedicated to the craft industry of the carolina's. Let this be a space where you can learn, explore, and share.</p>
	<br>
	<br>
	<br>
	<a href="/bio"><info>
		<br>
		<br>
		<br>
	<a href="/beer"><beer>
		<br>
		<br>
		<br>
	<a href="/liquor"><liquor>
		







</body>




</html>