<h2><center>liquor</h2>
	<br>
	<br>
	<body>There is only one type of liquor to concern yourself with, and that's whiskey. With special consideration for the cousin bourbon.
		<br>
		<br>
		<br>
		<img src="img/jamo.jpeg">
		<br>
		<br>
		<img src="img/knob.jpeg">