<h1>Ready to post what's on your noggin</h3>
	<a href="/">back</a>


	<form action="/create_blog" method="post">
		<label for"title">Title</label>
		<input type="text" id="title" name="[title}">
					<br>
					<br>
					<br>
		<textarea name="blog" row="10" cols="45"></textarea>
		<input type="submit" value ="Submit">
					<br>
	
		<input type="submit" value="edit entry">
	</form>
	</form>
