%h1 Medications

= link_to "New Medications", new_medication_path
%ul
  - @medications.each do |medication|
    %li
      = medication.name
      = link_to "Edit Medication", edit_medication_path(medication)
      = link_to "Delete Medication", medication_path(medication), method: :delete
    %br
