-#%h1 Medications
-#= link_to "New Medications", new_medication_path
-#%br/
-#- @medications.each do |medication|
-#  = link_to medication.name, medication_path(medication)
-#  = link_to "Edit", edit_medication_path(medication)
-#  = link_to "Delete", medication_path(medication), method: :delete
-#  %br/
