<html>
<head>
	<title>craft</title>
		<link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />

</head>
<body>
	<h1>So craft beverages are an escalating trend. why?</h1>
</body>

 </div>
  <%= yield %>
  <%= Faker::Lorem.paragraphs(1) %>



</html>

