<!DOCTYPE html>
<html>
	 <head>
	 		<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
	 		<link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />


	 	<title>craft</title></head>
  <body>
  	<h1><center> Craft: exploring the world of craft beverages<center></h1>
  	<h2><center>ideas to inspire the DIY at heart<center><h2>
  							<br>
  							<br>
  							<br>
  					<img src="images/images.jpeg" alt="bartender">


  		<center><a href="about.erb">about</a><center>
  			<br>
  	<h3><center>so you like beer? your looking for what's under here</h3>
  					<br>
  			<img src="images/beer.jpeg"/ alt="beer">
  		<center><a href="beer.erb">beer</a><center>
  					<br>
  	<h3><center>so you like liquor? that's around here somewhere</h3>
  					<br>
  		<center><a href="liquor.erb">liquor</a><center>




  </body>

</html>